__pycache__/
*.pyc

checkpoints/
checkpoints_old/
feature_cache/

eval_outputs/
outputs/
consistency_outputs/
feature_alignment_outputs/
group_correctness_outputs/

*.npy
*.pt
*.pth

.vscode/
.env
.DS_Store
